:root {
    --primary-color: #6a0dad; /* Mauve */
    --secondary-color: #ffd700; /* Doré */
    --dark-color: #343a40;
    --light-color: #f8f9fa;
    --border-color: #dee2e6;
    --hover-color: #510b82; /* Mauve foncé */
    --transition-duration: 0.3s;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--primary-color);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 100px;
    transition: max-height var(--transition-duration) ease;
}

.nav-link {
    color: var(--secondary-color) !important;
    font-weight: bold;
    transition: color var(--transition-duration) ease;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: box-shadow var(--transition-duration) ease, transform var(--transition-duration) ease;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.card-title {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-primary, .btn-success, .btn-danger {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 20px;
    transition: background-color var(--transition-duration) ease, border-color var(--transition-duration) ease, color var(--transition-duration) ease;
}

.btn-primary:hover, .btn-success:hover, .btn-danger:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: #ffffff;
}

.btn-group .btn {
    margin-right: 5px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem;
    transition: background-color var(--transition-duration) ease;
}

.list-group-item:hover {
    background-color: var(--light-color);
}

.list-group-item:last-child {
    border-bottom: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 80px;
    }

    .card {
        margin-bottom: 15px;
    }

    .btn-group .btn {
        margin-right: 3px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-height: 60px;
    }

    .card {
        margin-bottom: 10px;
    }

    .btn-group .btn {
        margin-right: 2px;
    }
}

/* Additional Styles for Login Page */
.card-title.text-center {
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.btn-block {
    border-radius: 20px;
}


